//  -------------------------------------                  流程圖1 (弓型)      開始                 -------------------------------------  //
 .s_custom_flowChartWrap {
     overflow: hidden;
     >.container>.row {
         margin-left: -50px;
         margin-right: -50px;
         >div {
             padding-left: 50px;
             padding-right: 50px;
             margin-bottom: 80px;
         }
     }
     &:nth-child(even)>.container>.row {
         flex-direction: row-reverse;
     }
     /* 箭頭區   START */
     .step-img::before {
         content: "\f061";
         font-family: "FontAwesome" !important;
         font-size: 36px;
         line-height: 1;
         position: absolute;
         top: 50%;
         right: -50px;
         transform: translateY(-50%);
     }
     &:nth-child(even)>.container>.row>div .step-img {
         &::before {
             right: calc(100% + 25px);
             transform: rotate(180deg) translateY(50%);
         }
     }
     >.container>.row>div:last-child {
         .step-img {
             position: static;
             &::before {
                 right: 50%;
                 top: calc(100% + 20px);
                 transform: rotate(90deg) translateY(-50%);
             }
         }
     }
     &:last-child>.container>.row>div:last-child .step-img::before {
         content: none;
     }
    /* 箭頭區   END */
     /* 1排4個 RWD    START */
     @include media-breakpoint-down(md) {
         .container>.row>.col-lg-3 {
             flex: 0 0 50%;
             max-width: 50%;
         }
         .container>.row>.col-lg-3:nth-child(2) {
             .step-img {
                 position: static;
                 &::before {
                     right: 50%;
                     top: calc(100% + 20px);
                     transform: rotate(90deg) translateY(-50%);
                 }
             }
         }
         .container>.row>.col-lg-3:nth-child(3) {
             order: 1;
             .step-img::before {
                 right: calc(100% + 25px);
                 transform: rotate(180deg) translateY(50%);
             }
         }
         .container>.row>.col-lg-3:nth-child(4) .step-img::before {
             transform: rotate(90deg) translateY(-50%);
         }
         &:nth-child(even) {
             .container>.row {
                 flex-direction: row;
             }
             .container>.row>.col-lg-3:first-child .step-img::before {
                 right: -25px;
                 transform: translateX(50%);
             }
             .container>.row>.col-lg-3:nth-child(3) {
                 order: 1;
                 .step-img::before {
                     right: calc(100% + 25px);
                     transform: rotate(180deg) translateY(50%);
                 }
             }
         }
     }
     @include media-breakpoint-down(xs) {
         .container>.row>.col-lg-3 {
             flex: 0 0 100%;
             max-width: 100%;
             order: unset !important;
         }
         .container>.row>.col-lg-3 .step-img {
             position: static;
             &::before {
                 right: 50% !important;
                 top: calc(100% + 20px);
                 transform: rotate(90deg) translateY(-50%) !important;
             }
         }
     }
     /* 1排4個 RWD   END */
     /* 非4個一排者  START */
    //  @include media-breakpoint-down(md) {
    //      .container>.row>div .step-img {
    //          position: static;
    //          &::before {
    //              right: 50% !important;
    //              top: calc(100% + 20px);
    //              transform: rotate(90deg) translateY(-50%) !important;
    //          }
    //      }
    //  }
     /* 非4個一排者  END */
 }
 //  -------------------------------------                  流程圖1 (弓型)      結束                 -------------------------------------  //
